* {
    color: #FFFFFF;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Gilroy-Bold";
    background-color: #0B1D26;
}

.container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1rem;
}


/* start header */


/* start navbar */


.header {
    padding: 0px 3rem;
    padding-top: 3rem
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.menu__link {
    text-decoration: none;
    font-size: 18px;
}

.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7%;
}

.account__link {
    text-decoration: none;
    font-size: 18px;
}


/* start header content */


.header-content {
    padding-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.social-media__txt {
    transform: rotate(90deg);
    font-size: 18px;
}

.instagram {
    padding-top: 2.5rem;
}

.twitter {
    padding-top: 1rem;
}

.web-introduction {
    display: flex;
    flex-direction: column;
}

.web-introduction-desc {
    display: flex;
    align-items: center;
}

.web-introduction__img-line {
    height: 100%;
}

.web-introduction__txt {
    padding-left: 1.5rem;
    font-family: "Gilroy-ExtraBold";
    color: #FBD784;
    font-size: 18px;
    letter-spacing: 0.275rem;
}

.web-introduction__title {
    font-family: "Chronicle-Semibold";
    font-size: 60px;
    width: 630px;
    padding-top: 2rem;
}

.web-introdiction-scroll-down__link {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    font-size: 18px;
    text-decoration: none;
    width: 8rem;
}

.web-introdiction-scroll-down__img {
    padding-left: 1rem;
}

.header-content-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}

.header-content-links * {
    text-decoration: none;
    font-size: 18px;
}