* {
    color: #FFFFFF;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Gilroy-Bold";
    background-color: #0B1D26;
    zoom: 0.8;
    background-image: linear-gradient(to right, rgba(11, 29, 38, 0.5), rgba(11, 29, 38, 0.1)), url(../pictures/back_ground2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 1rem;
}


/* start header */


/* start navbar */


.header {
    padding: 0px 3rem;
    padding-top: 3rem
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.menu__link {
    text-decoration: none;
    font-size: 18px;
}

.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7%;
}

.account__link {
    text-decoration: none;
    font-size: 18px;
}


/* start header content */


.header-content {
    padding-top: 13rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.social-media__txt {
    transform: rotate(90deg);
    font-size: 18px;
}

.instagram {
    padding-top: 2.5rem;
}

.twitter {
    padding-top: 1rem;
}

.web-introduction {
    display: flex;
    flex-direction: column;
}

.web-introduction-desc {
    display: flex;
    align-items: center;
}

.web-introduction__img-line {
    height: 100%;
}

.web-introduction__txt {
    padding-left: 1.5rem;
    font-family: "Gilroy-ExtraBold";
    color: #FBD784;
    font-size: 18px;
    letter-spacing: 6px;
}

.web-introduction__title {
    font-family: "Chronicle-Semibold";
    font-size: 60px;
    width: 830px;
    padding-top: 2rem;
    line-height: 80px;
    letter-spacing: 2px;
}

.web-introdiction-scroll-down__link {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    font-size: 18px;
    text-decoration: none;
    width: 8rem;
}

.web-introdiction-scroll-down__img {
    padding-left: 1rem;
}

.header-content-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}

.header-content-links * {
    text-decoration: none;
    font-size: 18px;
}

.gradient {
    width: 100%;
    height: 20rem;
    position: absolute;
    bottom: -28.8rem;
    background-image: linear-gradient(to top, rgba(11, 29, 38, 1), rgba(11, 29, 38, 0.1));
    z-index: -1;
}


/* start main */


/* start first section */


.main {
    padding-top: 23rem;
}

.content {
    display: flex;
    padding-top: 13rem;
    justify-content: space-between;
}

.content__desc {
    width: 60%;
    position: relative;
    padding: 5rem;
    padding-left: 10rem;
    padding-right: 0rem;
}

.main__number {
    position: absolute;
    font-size: 240px;
    opacity: 0.1;
    left: 0;
    top: 0;
}

.content__line {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.content__line-img {
    height: 100%;
}

.content__line-txt {
    color: #FBD784;
    letter-spacing: 6px;
    padding-left: 1.5rem;
    font-size: 18px;
    font-family: "Gilroy-ExtraBold";
}

.content__title {
    font-size: 64px;
    font-family: "Chronicle-Semibold";
    padding-right: 5rem;
    padding-top: 2rem;
}

.content__txt {
    font-size: 18px;
    padding-right: 5rem;
    line-height: 2rem;
    padding-top: 3rem;
}

.more-info {
    display: flex;
    padding-top: 2rem;
    align-items: center;
}

.more-info__link {
    color: #FBD784;
    font-size: 18px;
    font-family: "Gilroy-ExtraBold";
    text-decoration: none;
}

.more-info__img {
    padding-left: 1.5rem;
}

.content-img {
    width: 40%;
}

.content__img {
    height: 100%;
    width: 100%;
}


/* start second section (reverse) */


.content--reverse {
    flex-direction: row-reverse;
}

.reverse {
    padding-left: 5rem;
}

.main__number--reverse {
    position: absolute;
    left: 3rem;
}


/* start footer */


.footer {
    padding-top: 15rem;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-left {
    width: 60%;
    font-size: 18px;
}

.footer__txt {
    width: 18rem;
    padding-top: 3rem;
    line-height: 2rem;
}

.footer__copyright {
    opacity: 0.5;
    font-family: "Girloy-Medium";
    padding-top: 6.75rem;
}

.footer-right {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.menu-footer__link {
    display: block;
    padding-bottom: 2rem;
    font-size: 18px;
    font-family: "Girloy-Medium";
}

.menu--active {
    font-size: 24px;
    font-family: "Gilroy-Bold";
    color: #FBD784;
}